*{
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
}

.nav{
  width: screen;
  background-color: #a54a99;
  color: rbg(90, 14, 59);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  text-decoration: none;
}

nav a{
  text-decoration: none;
  font-size: medium;
}

nav a:hover {
  text-decoration: underline;
}

.counter{
   flex-direction: column;
   align-items: center;
   display: flex;
   margin: 60px;
   justify-content: center;
}